* {
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	width: 100%;
}
html {
	line-height: 1.5;
	font-size: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
	margin: 0;
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
}
#itemInput {
	margin-left: 2.5rem;
	margin-right: 0.5rem;
	width: 35rem;
	max-width: calc(100vw - 7rem);
}
h1 {
	font-weight: 600;
	font-size: 1rem;
}
.item {
	margin-top: 1rem;
	width: 40rem;
	max-width: calc(100vw - 2rem);
	display: flex;
	justify-content: start;	
	flex-direction: row;
}
.item > textarea {
	margin: 0 0.5rem;
	width: 35rem;
	max-width: calc(100vw - 7rem);
	min-height: 2rem;
	line-height: 1.5;
	resize: none;
}
.item > input[type="checkbox"], .item > button {
	height: 2rem;
	width: 2rem;
}
.item > button, #itemSubmit {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	height: 2rem;
	width: 2rem;
}
#itemForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.item > svg, #itemSubmit > svg {
	height: 1.5rem;
	width: 1.5rem;
}
@media screen and (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}